*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    width: 100%;
}

header .cuotas{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo{
    padding: 10px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

           /* SEARCH BAR */

header .container{ 
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

header div .search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
}

.search-bar input{
    background: white;
    flex: 1;
    width: 92%;
    border: 0;
    height: 30px;
    outline: none;
    padding: 24px 20xp;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
}

.search-bar button{
    background: white;
    width: 8%;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left-color: rgba(178, 171, 171, 0.514);
    height: 30px;
    outline: none;
    font-size: 14px;
    border-radius: 0px 5px 5px 0px;
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 450ms;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

header nav {
    display: none;
}

main section article .description{
    visibility: hidden;
}

main section article:hover .description{
    visibility: visible;
}

.products article {
    transition: box-shadow 200ms;
}

.products article:hover {
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

main section article div i:hover {
    transform: rotateZ(-90deg);
}


            /* FOOTER */

footer{
    background-color: white;
}

footer div.info-slide, .copyright{
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 5px 20px 20px 20px;
}

footer div i{
   color: #0044AA;
   font-size: 30px;
}

footer div i:hover{
    color: green;
 }


 main section article .description{
    display: block;
}


@media (max-width: 360px){
    header div.top-header p{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 600px){
    header div.logo{
        width: 70%;
        padding: 10px;
    }

    header div.cuotas{
        width: 100%;
    }
}

@media (min-width: 601px){

    div.burger-menu{
        display: none;
    }

    header div.logo{
        width: 50%;
        padding: 10px;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    /* Seccion navbar */

    header nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
    }
    
    .main-navbar{
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
        list-style: none;
    }

    .main-navbar li {
        margin: 0px 10px;
        padding: 5px;
    }

    header div.top-header{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

}



@media (min-width: 992px){
    main section div.products article{
        width: 22%;
    }

    footer div.pie {
        display: flex;
    }

    footer div.info-slide{
      text-align: center;
    }

    header .main-navbar{
        font-size: 16px;
    }
}










