
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background-color: #ebebeb;
}

header{
    background-color: #EAC926;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
    color: #666;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 15px;
}

div.top-header{
    padding: 5%;
}

header div.logo{
    width: 50%;
    padding: 10px;
}

header nav{
    font-size: 12px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


header .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    height: 25%;
}


header .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15%;
    height: 25%;
}

/* header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
} */

div.burger-menu{
    display: flex;
    justify-content: center;
}


div.burger-menu i{        
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 28px;
    margin: 20px;
    padding: 10px;
    width: 35px;
}

article div.main-article{
    width: 100%;
    padding-left: 15px;
    border-top: solid 1px #ebebeb;
    box-sizing: border-box;
}


.price{
    font-size: 18px;
}

.discount{
    font-size: 16px;
    font-weight: normal;
    color: #39b54a;
}

.description{
    font-size: 16px;
}

.description{
    color: #666;
    padding-bottom: 15px;
    padding-top: 10px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main section article{
    background-color: #fff;
    margin: 15px;
}

main section article img{
    width: 100%;
}

main section article i{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: -15px; 
}



article .wrap-description {
    display: flex;
}

article .wrap-description .price{
    flex-grow: 0.3;
}
article .wrap-description .discount{
    flex-grow: 0.7;
}








@media (max-width: 768px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    header nav {
        display: none;
    }
  
    main .products {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    header .top-header{
        display: flex;
        flex-wrap: wrap;
        /* align-content: space-around; */
    }

    header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    }

    header .logo{
        flex-grow: 0.5;
    }

    header .form{
        flex-grow: 0.5;
    }
}



@media (min-width: 769px){

    div.burger-menu{
        display: none;
    }

    header nav {
        display: flex;
    }
    
    .main-navbar{
        /* display: flex; */
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
        list-style: none;
    }

    .main-navbar li {
        margin: 0px 10px;
        padding: 5px;
    }   

    main .products {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    header .top-header{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
}




footer .info-slide{
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 20px;
}


footer div i{
   color: #0044AA;
   font-size: 30px;
}



















